.App {
  padding: 1% 2%;
}
.App header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App header .action span {
  cursor: pointer;
}

.dark {
  background-color: #202124;
  color: white !important;
}

.light {
  background-color: #FFFFFF;
  color: black !important;
}

.material-symbols-outlined {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */ /* IE10+/Edge */
  user-select: none; /* Standard */
}

.box-shadow-style, .preview-side #preview pre, .preview-side, .editor-side textarea {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.border-style, .preview-side #preview pre, .preview-side #preview > p > code, .preview-side #preview, .editor-side textarea {
  border: 1px solid #DEE2E6;
  border-radius: 5px;
}

h1 {
  color: #1A73E8;
}

.main {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  opacity: 0;
  display: none;
  transition: all 0.125s ease;
}

.maximized {
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #DEE2E6;
  border-bottom: none;
}
.toolbar .tool-icon {
  margin-right: 10px;
}
.toolbar .sizing {
  color: #5F6368;
  margin-left: auto;
  transition: all 0.125s ease-in-out;
}
.toolbar .sizing:hover {
  color: black;
  transition: all 0.125s ease-in-out;
}

.toolbar-light {
  background-color: #F8F9FA;
}

.toolbar-dark {
  background-color: #303134;
}

.editor-side {
  width: 100%;
}
.editor-side textarea {
  font-size: 16px;
  padding: 5px 8px;
  width: 100%;
  min-height: 500px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
}

.preview-side {
  border-radius: 5px;
}
.preview-side #preview {
  width: 100%;
  padding: 5px 20px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  line-height: 1.6;
}
.preview-side #preview p, .preview-side #preview li {
  line-height: 2.5;
}
.preview-side #preview h1 {
  border-bottom: 2px solid #DADCE0;
}
.preview-side #preview h2 {
  margin: 30px 0;
  border-bottom: 1px solid #DADCE0;
}
.preview-side #preview > p > code {
  color: #EA4335;
  padding: 3px;
}
.preview-side #preview pre {
  display: block;
  overflow: auto;
  padding: 8px 12px;
  line-height: 1.2;
}
.preview-side #preview table {
  border-collapse: collapse;
  margin-bottom: 15px;
}
.preview-side #preview td,
.preview-side #preview th {
  border: 1px solid black;
  padding: 8px 16px;
}
.preview-side #preview blockquote {
  border-left: 3px solid black;
  padding-left: 5px;
  margin-left: 25px;
}
.preview-side #preview img {
  max-width: 50%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
  .App {
    margin: 3% 5%;
    font-size: 0.875rem;
  }
  .main {
    flex-direction: column;
    justify-content: center;
  }
  .preview-side #preview td,
  .preview-side #preview th {
    border: 1px solid black;
    padding: 5px;
  }
  .preview-side #preview img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
    justify-content: center;
  }
}/*# sourceMappingURL=App.css.map */